body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item i {
    color: white;
    font-size: 24px; /* Adjust size as needed */
    transition: all 0.5s ease;
    margin-right: 1.5rem; /* adjust for desired spacing */
}

.nav-item a:hover i {
    color: limegreen; /* Change to desired hover color */
}

.nav-item a i {
    transition: color 0.5s;
}

.flex-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing {
    color: white;
    border-right: .15em solid rgba(12, 161, 1, 0.74); /* The typewriter cursor */
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 4s steps(30, end),
        blink-caret .75s step-end infinite;
}

.flex-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* The typing effect */
@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(19, 205, 69); }
}



.content-container {
    padding: 2rem; /* Reduce this from 5rem to move the paragraph up */
    color: white;
    font-size: 1rem;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
    max-width: 80%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    justify-content: normal;
    align-items: normal;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.5s;
}

